/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

.titleMain {
  position: absolute;
  top: -13rem;

  img {
    width: 15rem;
  }
}

.step {
  width: 100%;
  height: 3rem;
  position: absolute;
  top: -5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;

  .stepItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    background: #c9c9c9;
    cursor: not-allowed;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;

    &.active {
      background: $backgroundBtn;
      cursor: pointer;
      // color: #fff;
    }

  }
}

.progressBar {
  position: absolute;
  width: 100%;
  height: 1rem;
  // background: $white;
  border-radius: 1rem;
  top: -1rem;
  overflow: hidden;

  .progress {
    height: 2rem;
    background: $backgroundBtn;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    gap: 10rem;

  }
}

.header {

  .title {
    font-size: 1.6rem;
    color: $textGrey;
    font-weight: 700;
    color: $labelForm;
    text-transform: uppercase;
  }
}

.body {
  width: 100%;
}

.footer {
  .groupButton {
    display: flex;
    gap: 2rem;

    .prev {
      width: 7rem;
      padding: 1rem 1rem;
      border-radius: .4rem;
      border: transparent;
      background: $backgroundBtn;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      display: flex;
      gap: .5rem;
      align-items: center;
      justify-content: center;
    }

    .btnDisable {
      width: 7rem;
      padding: 1rem 1rem;
      border-radius: .4rem;
      border: transparent;
      background: #c9c9c9;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: not-allowed;
      display: flex;
      gap: .5rem;
      align-items: center;
      justify-content: center;
    }

    .next {
      width: 7rem;
      padding: 1rem 1rem;
      border-radius: .4rem;
      border: transparent;
      background: $backgroundBtn;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      display: flex;
      gap: .5rem;
      align-items: center;
      justify-content: center;
    }
  }
}