/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
*/

@import './responsive.scss';
@import './variable.scss';

html {
  font-size: 62.5%;

  @include largePhone {
    font-size: 52.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  columns: inherit;
}

body {
  font-family: "Inter", sans-serif;

}

.main {
  // background: $mainBackground;

  .globalContainer {
    margin: 0 auto;
    max-width: 90%;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 95vh;

      .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 2rem;
        width: 40rem;
        border-radius: 1rem;
        // background: $mainBackground;
        box-shadow: rgba(29, 29, 44, 0.15) 0px 0px 85px 10px;
        // border: .1rem solid salmon;
        position: relative;
      }
    }
  }
}

.wrapSvgNav {
  width: 100%;
  max-width: 133.4rem;
  margin: 0 auto;
  position: relative;


  @include largePhone {
    position: static;
  }

  .svgNav {
    position: absolute;
    z-index: -99;


    @include largePhone {
      top: 2rem;
    }

    img {
      filter: drop-shadow(1px 5px 2px rgb(0 0 0 / 0.2));
      object-fit: fill;
      width: 100%;
    }
  }
}