/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
*/

// BACKGROUND
$mainBackground: linear-gradient(217deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
$stepBackground: linear-gradient(90deg, rgb(0, 90, 245) 0%, rgb(75, 150, 235) 100%);
$backgroundBtn: #eb8912;
$colorBackgroundDark: #263237;
$colorBackgroundNavbar: #314148;
$colorTeal: #26A79A;
$boxShadow: rgba(100, 100, 111, 0.15) 0px 0px 5px 0px;
$white: #ffffff;

//TEXT
$lineTagInput: #bababa;
$labelForm: #8f8f8f;
$textGrey: #696868;