/*
Author: Wanda Azhar
Location: Michigan, USA
Contact: wandaazhar@gmail.com
*/

@import '../../styles/responsive.scss';
@import '../../styles/variable.scss';

// .inputGroup {
//   display: flex;
//   flex-direction: column;
//   gap: 10rem;

//   label {
//     font-size: 1.6rem;
//     color: #a1a1a1
//   }

//   input {
//     font-size: 1.4rem;
//     width: 30rem;
//     height: 4rem;
//     background-color: transparent;
//     border: .01rem solid grey;
//     border-radius: .5rem;
//     font-size: 1.6rem;
//     // border-top: .01rem solid grey;
//     // border-bottom: .01rem solid grey;
//     padding: 1rem 1rem;
//   }

// }